:host {
    display: block;
}

.server-info {
    display: flex;
    align-items: center;
    justify-content: center;

    &--content {
        padding-left: 100px;
        width: 400px;
        height: 600px;

        &__image {
            width: 400px;
            height: 600px;
            object-fit: cover;
        }
    }
}
